header {
    width: 100%;
    padding: 2% 5%;
    display: flex;
    align-items: center;
}

.image {
    width: 35%;
}
header > .lists {
    display: flex;
}

.lists > li {
    list-style-type: none;
    padding: 0 5%;
}

.header-buttons {
    display: flex;
}

.create {
    background: #EEF1F6;
    padding: 2% 5%;
    border-radius: 10px;
    outline: 0;
    font-size: 1rem;
    border: none;
    font-weight: 400;
    width: fit-content;
}

