form {
    margin: 6% auto 2%;
    width: 80%;
}

form div{
    background: #EEF1F6;
    margin: 2% 0;
}

div label{
    font-weight: 300;
}

div .main_label {
    font-weight: 500;
    width: fit-content;
}


.personal_info {
    display: flex;
    flex-direction: column;
    margin: 3% auto;
    padding: 5% 10%;
}

input[type=text],  input[type=email], input[type=number]{
    width: 100%;
    outline: none;
    border: none;
    font-weight: 400;
    padding: 1% 2%;
    margin-bottom: 3%;
    margin-top: 1%;
    font-size: .9rem;
}

.gender_div {
    width: 100%;
    display: flex;
    align-items: center;
}

.gender_div .main_label {
    margin-right: 7%;
}
#gender-radio {
    display: flex;
    width: 80%;
}


#gender-radio div {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}
.country_div {
    width: 100%;
    display: flex;
    align-items: center;
}

.country_div .main_label {
    margin-right: 7%;
}
#country-radio {
    display: flex;
    width: 80%;
}


#country-radio div {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

.heading_label {
    font-size: 1.2rem;
    margin-bottom: 2%;
}

.file_label {
    border: 2px solid #006ABF;
    color: #006ABF;
    font-weight: 500;
    border-radius: 5px;
    width: fit-content;
    padding: 1% 5%;
    cursor: pointer;
}

 button {
   margin: 0 10%;
   width: 80%;
}

.step {
    display: flex;
    width: 70%;
    margin: 5% auto 1%;
  }
  .singleStep {
    display: flex;
    align-items: center;
    width: fit-content;
    text-wrap: nowrap;
    padding:0 2%;
  }

  p.text {
    width: 100%;
  }
  
  .circle {
    height: 30px;
    width: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a8afac78;
    opacity: 0.47;
    color: white;
  }
  
  
  
  .active {
      background: #006ABF;
      opacity: 1;
  }